
<div *ngIf="!departamentoSelecionado">

  <div class="top-body">
    <h1 class="title">{{title}}</h1>
    <button class="new" (click)="departamentoNew()">Cadastrar Departamento</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Sigla</th>
        <th class="col"></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let departamentos of departamentos"   >
        <th scope="row" class="id">{{departamentos.id}}</th>
        <td>{{departamentos.nome}}</td>
        <td>{{departamentos.sigla}}</td>
        <td>
          <div class="options">
            
            <button  class="edit" (click)="departamentoSelect(departamentos)">Editar</button>

            <button class="delete" (click)="departamentoDelete(departamentos.id)">Excluir</button>

          </div>
        </td>
      </tr>
    </tbody>
  
  </table>

</div>

<div *ngIf="departamentoSelecionado">
  <form [formGroup]="departamentoForm" (submit)="departamentoSubmit()">

    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" formControlName="nome" class="form-control"  >
    </div>

    <div class="mb-3">
      <label  class="form-label">Sigla</label>
      <input type="text" formControlName="sigla" class="form-control" >
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!departamentoForm.valid" >Salvar</button>
    
  </form>
  <button class="btn btn-btn" (click)="back()">Voltar</button>
  <button  (click)="funcionarioNew()">Cadastrar Funcionário</button>
  
  <table id="tableid" class="table table-hover" *ngIf="funcionarios.length">


    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th class="col">Opções</th>
      </tr>
    </thead>
  
    <tbody>
      <ng-container *ngFor="let funcionarios of funcionarios">
  
            <ng-container *ngIf="departamentoSelecionado.id == funcionarios.departamentoId" >
  
  <tr >
  <th scope="row" class="id" >{{funcionarios.id}}</th>
  <td><img [src]="createImgPath(funcionarios.id, funcionarios.foto)" style="width:60px; height:60px;" alt="Profile Pic"></td>
  <td>{{funcionarios.nome}}</td>
  
  <td>
    <div class="options">
      <button (click)="funcionarioSelect(funcionarios)" class="edit">Editar</button>
      <button class="delete" (click)="funcionarioDelete(funcionarios.id)">Excluir</button>
    </div>
  </td>
  </tr>
  
  
  </ng-container>
  
  
      </ng-container>
    </tbody>



  
  </table>
</div>




<div *ngIf="funcionarioSelected" class="details">

  <div class="form">

  
    <form [formGroup]="funcionarioForm" (submit)="funcionarioSubmit(file.files)">
  
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control"  >
      </div>
  
      <div class="mb-3">
        <label  class="form-label">RG</label>
        <input type="text" formControlName="rg" class="form-control" >
      </div>


      <div class="mb-3">
        <label for="form-label">Foto</label>
        <input type="file" #file class="form-control" (change)="uploadSingle($event)" required>

      <input type="text"  formControlName="foto" class="form-control" value="{{updateFotoValue(file.files[0]?.name)}}`" style="display: none;">

      <img *ngIf="funcionarioSelected.id != 0" [src]="createImgPath(funcionarioSelected.id, funcionarioSelected.foto)" style="width:60px; height:60px;" alt="ProfilePic">
      

      </div>
      
      <div class="select">
        
        <label class="form-label">Departamento</label>

        <div class="button-select">

          <select name="" id="id-select" formControlName="departamentoId" >
      
            <option disabled selected value="0">Selecione o departamento</option>
      
            <option  value="{{departamentoSelecionado.id}}">{{departamentoSelecionado.nome}}</option>
            
            <div>

            </div>
          </select>

          <button type="submit" class="btn btn-primary"  [disabled]="!funcionarioForm.valid">Salvar</button>

        </div>
      </div>
  
    
  
    </form>

  </div>

</div>


