
<!-- Tabela de listagem de departamentos -->

<div *ngIf="!departamentoSelected" class="gradient-background">
  <h1 class="title">{{ title }}</h1>
    <div class="top-body">
      <button class="new" (click)="departamentoNew()">
        <fa-icon [icon]="faPlus" size="1x"></fa-icon>
        <fa-icon [icon]="faBuilding" size="2x"></fa-icon>
      </button>
    </div>

  <table class="departamentos-table">
    <thead>
      <tr>
        <th >ID</th>
        <th >Departamento</th>
        <th >Sigla</th>
        <th></th>
      </tr>
    </thead>

    <tbody class="departamentos-tbody">
      <tr class="table-line" *ngFor="let departamentos of departamentos">
        <td  class="number">{{ departamentos.id }}</td>
        <td>{{ departamentos.nome }}</td>
        <td>{{ departamentos.sigla }}</td>
        <td>
          <div class="options">
            <button class="edit" (click)="departamentoSelect(departamentos)">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>

            <button (click)="openModal(template, departamentos)"
              class="delete"
              >

            <fa-icon [icon]="faTrashCan"></fa-icon>

            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


 <!-- Modal de warning para deletar um departamento -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Excluir departamento: {{departamentoSelectedDel.nome}}</h4>

  </div>
  <div class="modal-body">
    <p>Tem certeza que deseja excluir o departamento {{departamentoSelectedDel.nome}}?</p>
    <p style="color: red;">TODOS OS FUNCIONÁRIOS DESSE DEPARTAMENTO SERÃO DELETADOS!</p>
    <button class="delete" (click)="departamentoDelete(departamentoSelectedDel.id)" (click)="modalRef?.hide()" style="width: 100px; margin-right: 20px;">Excluir</button>
    <button class="edit" (click)="modalRef?.hide()" style="width: 100px;">Cancelar</button>
  </div>
</ng-template>


<!-- Formulario de Edição de departamento e listagem dos funcionarios do departamento  -->

<div *ngIf="departamentoSelected" class="gradient-background">

  
  <div *ngIf="departamentoSelected.id != 0" class="departamento-put">

    <div class="top-body">
      <button class="btn btn-btn btn-back" (click)="back()"><fa-icon [icon]="faArrowLeft" size="2x"></fa-icon></button>

      <h1>{{departamentoSelected.nome}}</h1>
    

    </div>

      <form class="form" [formGroup]="departamentoForm" (submit)="departamentoSubmit()">
        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" formControlName="nome" class="form-control" />
        </div>
    
        <div class="mb-3">
          <label class="form-label">Sigla</label>
          <input type="text" formControlName="sigla" class="form-control" />
        </div>
    
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!departamentoForm.valid">
          Salvar
        </button>
    
      </form>

    </div>


  <button *ngIf="departamentoSelected.id != 0" class="new-user" (click)="funcionarioNew()"><fa-icon [icon]="faPlus"></fa-icon> <fa-icon [icon]="faUser" size="2x"></fa-icon></button>


  <!-- Tabela de Cadastro de departamento e listagem dos funcionarios do departamento  -->

  <div *ngIf="departamentoSelected.id == 0" class="departamento-post">

    <div class="top-body">

      <button class="btn btn-btn btn-back" (click)="back()"><fa-icon [icon]="faArrowLeft" size="2x"></fa-icon></button>
      <h1>Novo Departamento</h1>

    </div>

    <form class="form" [formGroup]="departamentoForm" (submit)="departamentoSubmit()">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control" />
      </div>
  
      <div class="mb-3">
        <label class="form-label">Sigla</label>
        <input type="text"  formControlName="sigla" class="form-control" />
      </div>
  
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!departamentoForm.valid">
        Salvar
      </button>
    </form>
    
  </div>


  <div class="funcionarios-info">

    <table [ngClass]="{'col-sm-12': !funcionarioSelected, 'col-sm-6': funcionarioSelected}" *ngIf="departamentoSelected.id != 0" class="funcionarios-table">
      <thead>
        <tr>
          <th >ID</th>
          <th >Foto</th>
          <th >Nome</th>
          <th >Opções</th>
        </tr>
      </thead>
  
      <tbody class="funcionarios-tbody">
        <ng-container *ngFor="let funcionarios of funcionarios">
          <ng-container
            *ngIf="departamentoSelected.id == funcionarios.departamentoId">
  
            <tr class="table-line">
              <td class="number">{{ funcionarios.id }}</td>
              <td>
                <img
                  [src]="createImgPath(funcionarios.id, funcionarios.foto)"
                  style="width: 60px; height: 60px; border-radius: 40px;"
                  alt="Profile Pic"
                />
                
              </td>
              <td>{{funcionarios.nome}}</td>
  
              <td>
                <div class="options">
                  <button (click)="funcionarioSelect(funcionarios)" class="edit">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </button>
                  <button
                    class="delete"
                    (click)="funcionarioDelete(funcionarios.id)"
                  >
                  <fa-icon [icon]="faTrashCan"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>


    <!-- Cadastro de funcionario daquele departamento especifico -->

    <div *ngIf="funcionarioSelected" class="details" ngClass="col-sm-4">
      <div class="form">
        <form
          [formGroup]="funcionarioForm"
          (submit)="funcionarioSubmit(file.files)"
        >
          <div class="img-input">

            <div class="preview">

              <img
                *ngIf="funcionarioSelected.id != 0"
                [src]="
                  createImgPath(funcionarioSelected.id, funcionarioSelected.foto)
                "
                alt="ProfilePic"
              />
              <img
                *ngIf="funcionarioSelected.id == 0"
                src = "../../assets/placeholder.jpg"
                alt="ProfilePic"
              />
            </div>

            <div class="inputs">

              <div class="mb-3">
                <input placeholder="Digite o nome do funcionário..."  type="text" formControlName="nome" class="form-control" />
              </div>
        
              <div class="mb-3">
                <input placeholder="Digite o RG do funcionário..." type="text" formControlName="rg" class="form-control" mask="00.000.000-0" />
              </div>

            </div>


          </div>
    
         

            <input
              type="file"
              #file
              class="form-control input-file"
              (change)="uploadSingle($event)"
              required
            />
    
            <input
              type="text"
              formControlName="foto"
              class="form-control"
              value="{{ updateFotoValue(file.files[0]?.name) }}`"
              style="display: none"
            />

    
          <div class="select">
    
            <div class="button-select">
              <select name="" id="id-select" formControlName="departamentoId">
                <option disabled selected value="0">
                  Selecione o departamento
                </option>
    
                <option value="{{ departamentoSelected.id }}">
                  {{ departamentoSelected.nome }}
                </option>
    
                <div></div>
              </select>
    
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!funcionarioForm.valid"
              >
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    

  </div>



