/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

* {
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
html, body, app-root {
height: 100%;
position: relative;
}

app-root {
min-height: 100%;
display: block;
position: relative;
padding-bottom: 56px; 
    
}

body{
margin: 0;
background-image: url(assets/concentric_background.png);
background-repeat: no-repeat;
background-size: cover;
}

app-footer{
position: absolute;

bottom: 0;

width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}